@import './Styles/colors';
@import './Styles/responsive';
@import './Styles/variables';
@import './Styles/gutters';

.App {
  background: $white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  position: relative;

  @include screen-sm {
    box-shadow: 0 0 1px $bg-dark;
    width: 90vw;
  }

  @include screen-lg {
    width: 80vw;
  }

  @include screen-xl {
    width: $screen-xl-min * 0.8;
  }

}

.App-header {
  align-items: center;
  border-bottom: solid 1px $bg-dark;
  display: flex;
  height: 60px;
}

.App-logo,
.App-cart {
  @include gutters();
  height: 30px;
}

.App-title {
  flex-grow: 2;
  font-family: $font-headings;
  font-size: 2em;
  text-align: center;
}

.App-main {
  flex-grow: 2;
}

.App-footer {
  @include gutters();
  font-size: 0.6em;
  margin: 1em 0;

  @include screen-sm {
    margin-top: 3em;
    text-align: center;
  }
}
